.wrapper {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.scroll-list {
  width: 100%;
  max-width: 700px;
  overflow: hidden;
  margin: 0 auto;
}

.scroll-list__wrp {
  height: 480px;
  overflow: auto;
  padding: 20px;
  background-image: transparent;
  border-radius: 30px;
}

.scroll-list__wrp::-webkit-scrollbar {
  display: none;
}

.scroll-list__wrp {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scroll-list__item {
  width: 100%;
  height: 155px;
  margin-bottom: 15px;
  border-radius: 8px;
  background-image: linear-gradient(147deg, #ffffff 0%, #ffffff 74%);
  transition: transform 0.35s ease-in-out, opacity 0.35s ease-in-out;
  opacity: 0.5; /* Start items at lower opacity */
  transform: scale(0.8); /* Start items at smaller scale */
}

.scroll-list__item.visible {
  opacity: 1; /* Fully visible when in focus */
  transform: scale(1); /* Normal scale when in focus */
}
